.container {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-white);
    max-width: 1170px;
    margin: 0 auto;

    & > nav {
        display: flex;
        gap: 10px;
    }
}

header {
    background: var(--main-white);
}
