.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @media (max-width: 800px) {
        padding: 0 32px;
    }

    @media (max-width: 400px) {
        padding: 0 16px;
    }
}
